.main{
    div{
        padding: 3rem 4rem;
        width: 50%;
        text-align: center;
    }
    @media (max-width: 768px){
        div{
            width: 80%;
            padding: 2rem;
           
        }
    }
}