.container {
  padding: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  .left {
    flex: 5;
    .heading {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      h2 {
        font-size: 2.4rem;
        width: 50%;
        text-align: center;
        padding: 1rem;
      }
      p {
        font-size: 1.2rem;
        text-align: center;
        width: 80%;
      }
    }
    .imgContainer {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      div {
        flex: 1;
        max-height: 385px;
        background-color: rgb(174, 174, 174);
        overflow: hidden;
        img {
          max-width: 405px;
        }
      }
    }
  }
  .right {
    flex: 3;
    display: flex;
    overflow: hidden;
    div {
      flex: 3;
      background-color: rgb(174, 174, 174);
      margin: 1.5rem 1rem 0 1rem;
      img{
        max-width: 405px;
      }
    }
  }
  @media (max-width: 768px) {
    .right {
      display: none;
    }
  }
  @media (max-width: 500px) {
    margin: 0;
    width: 100%;
    .left {
      .heading {
        h2 {
          width: 100%;
        }
        p {
          padding: 0 1rem;
          width: 100%;
        }
      }
      .imgContainer {
        flex-direction: column;

        div {
          flex: none;
          height: 250px;
          margin: 1rem 1rem 0 1rem;
        }
      }
    }
  }
}
